asgiref==3.8.1
babel==2.16.0
crispy-bootstrap4==2024.1
Django==4.2
django-crispy-forms==2.3
docxcompose==1.4.0
docxtpl==0.18.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
python-docx==1.1.2
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
django-simple-captcha==0.6.0
python-decouple==3.8