{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-4">
    <h1 class="mb-4">Solicitud de instrumentos PCATIA</h1>

    <!-- Información sobre la colaboración y condiciones -->
    <p class="mb-4">
        La Colaboración PCATIA pone a disposición de la comunidad internacional el producto del trabajo de adaptación, actualización y armonización de los cuestionarios PCAT (Primary Care Assessment Tools) para ser aplicados en diferentes países de Iberoamérica. El proceso realizado con participación de todos los grupos de investigación que al 2016 (fecha de inicio del proyecto) contaban con versiones adaptadas a su país (nueve) logró esta nueva generación de versiones que hemos denominado PCATIA en las cuales hemos comprobado buena aceptabilidad lingüística de las poblaciones de todas las subregiones de Iberoamérica que utilizan la lengua española (Mesoamérica, Países andinos, Cono Sur e Iberia).
        La Colaboración PCATIA autoriza el uso de los instrumentos PCATIA-A, PCATIA-C, PCATIA-G o PCATIA-P sin abonar arancel alguno. Al mismo tiempo requiere de las personas usuarias de PCATIA los siguientes compromisos, necesarios para la preservación de la fiabilidad del instrumento, así como para el mantenimiento de la red de solidaridad en la cual se funda este trabajo:
    </p>
    <ul class="list-unstyled mb-4">
        <li>1. No alterar el contenido de las escalas de cada dimensión, es decir, el número de ítems de cada apartado, la redacción de las preguntas ni las opciones de respuestas, ya que la validez interna, consistencia y equivalencia internacional de los datos requiere del uso de los cuestionarios tal como se ofrecen.</li>
        <li>2. Consultar a la Colaboración PCATIA en caso de necesitar introducir alguna modificación a los cuestionarios;</li>
        <li>3. Mantener informadas a las coordinadoras de la Colaboración PCATIA de resultados, publicaciones derivadas y posibles cambios en los términos aquí manifestados.</li>
        <li>4. Respetar y mencionar los créditos de autoría que aquí se mencionan: “Los cuestionarios PCATIA fueron producidos por el Grupo IA-PCAT, coordinado por las Profesoras Jacqueline Ponzo y Silvina Berra, a partir de la armonización de versiones adaptadas del conjunto PCAT, desarrollado por la Prof. Barbara Starfield y el Dr. Leiyu Shi de Johns Hopkins University, USA”</li>
    </ul>
    <p class="mb-4">
        Citando a tal fin las publicaciones que sean pertinentes, entre las cuales se sugiere:
    </p>
    <ul class="list-unstyled mb-4">
        <li>Ponzo J, Berra S, Giraldo Osorio A, Pasarín MI, Leyns C, Vélez Álvarez C, Soto Chávez CA, Molina V, Fuentes-García A, Hauser L, grupo de trabajo IA-PCAT. Armonización iberoamericana de los instrumentos PCAT para la evaluación del primer nivel. Revista Panamericana de Salud Pública. 2018;42:e80. <a href="https://doi.org/10.26633/RPSP.2018.80" target="_blank">https://doi.org/10.26633/RPSP.2018.80</a></li>
        <li>Berra S, Rivadero L; Grupo IA-PCAT; Otros investigadores del Grupo IA-PCAT. Aceptabilidad lingüística en la comprensión de cuestionarios de valoración de servicios de salud en Iberoamérica. [published online ahead of print, 2020 Jul 9]. Gac Sanit. 2020; S0213-9111(20)30123-0. <a href="https://doi.org/10.1016/j.gaceta.2020.04.019" target="_blank">doi:10.1016/j.gaceta.2020.04.019</a></li>
        <li>Página web: <a href="http://ciess.webs.fcm.unc.edu.ar/ia-pcat/" target="_blank">http://ciess.webs.fcm.unc.edu.ar/ia-pcat/</a></li>
    </ul>
    <p class="mb-4">
        Apelando a la misma solidaridad con la que la Colaboración PCATIA realizó este trabajo para poner a disposición los instrumentos, se solicita a quienes los utilicen que faciliten el uso de datos obtenidos (con la anonimización necesaria) para conformar bases de datos colaborativas internacionales que permitan realizar análisis de propiedades métricas y comparaciones internacionales.
    </p>
    <!-- Formulario de Solicitud -->
    <h2 class="mt-5">Formulario de Solicitud</h2>
    <form method="post" action="{% url 'solicitudes:crear_solicitud' %}">
        {% csrf_token %}
        
        <!-- Información de contacto principal -->
        <h2 class="mt-4">Responsable principal de la aplicación</h2>
        <div class="form-group">
            <label for="nombres_principal">Nombres:</label>
            <input type="text" class="form-control" id="nombres_principal" name="nombres_principal" required>
        </div>
        <div class="form-group">
            <label for="apellidos_principal">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos_principal" name="apellidos_principal" required>
        </div>
        <div class="form-group">
            <label for="cargo_principal">Cargo:</label>
            <input type="text" class="form-control" id="cargo_principal" name="cargo_principal" required>
        </div>
        <div class="form-group">
            <label for="institucion_principal">Institución:</label>
            <input type="text" class="form-control" id="institucion_principal" name="institucion_principal" required>
        </div>
        <div class="form-group">
            <label for="ciudad_principal">Ciudad o Localidad:</label>
            <input type="text" class="form-control" id="ciudad_principal" name="ciudad_principal" required>
        </div>
        <div class="form-group">
            <label for="pais_principal">País:</label>
            <input type="text" class="form-control" id="pais_principal" name="pais_principal" required>
        </div>
        <div class="form-group">
            <label for="rol_estudio_principal">Rol en el estudio que se llevará a cabo:</label>
            <input type="text" class="form-control" id="rol_estudio_principal" name="rol_estudio_principal" required>
        </div>
        <div class="form-group">
            <label for="email_principal">Correo electrónico:</label>
            <input type="email" class="form-control" id="email_principal" name="email_principal" required>
        </div>
        <div class="form-group">
            <label for="telefono_principal">Teléfono celular:</label>
            <input type="text" class="form-control" id="telefono_principal" name="telefono_principal" required>
        </div>

        <!-- Información de contacto secundario -->
        <h2 class="mt-4">Responsable alterno de la aplicación</h2>
        <div class="form-group">
            <label for="nombres_alterno">Nombres:</label>
            <input type="text" class="form-control" id="nombres_alterno" name="nombres_alterno" required>
        </div>
        <div class="form-group">
            <label for="apellidos_alterno">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos_alterno" name="apellidos_alterno" required>
        </div>
        <div class="form-group">
            <label for="cargo_alterno">Cargo:</label>
            <input type="text" class="form-control" id="cargo_alterno" name="cargo_alterno" required>
        </div>
        <div class="form-group">
            <label for="institucion_alterno">Institución:</label>
            <input type="text" class="form-control" id="institucion_alterno" name="institucion_alterno" required>
        </div>
        <div class="form-group">
            <label for="ciudad_alterno">Ciudad o Localidad:</label>
            <input type="text" class="form-control" id="ciudad_alterno" name="ciudad_alterno" required>
        </div>
        <div class="form-group">
            <label for="pais_alterno">País:</label>
            <input type="text" class="form-control" id="pais_alterno" name="pais_alterno" required>
        </div>
        <div class="form-group">
            <label for="rol_estudio_alterno">Rol en el estudio que se llevará a cabo:</label>
            <input type="text" class="form-control" id="rol_estudio_alterno" name="rol_estudio_alterno" required>
        </div>
        <div class="form-group">
            <label for="email_alterno">Correo electrónico:</label>
            <input type="email" class="form-control" id="email_alterno" name="email_alterno" required>
        </div>
        <div class="form-group">
            <label for="telefono_alterno">Teléfono celular:</label>
            <input type="text" class="form-control" id="telefono_alterno" name="telefono_alterno" required>
        </div>

        <!-- Uso curricular de los instrumentos -->
        <h2 class="mt-4">Uso curricular de los instrumentos</h2>
        <div class="form-group">
            <label for="uso_curricular">¿La aplicación forma parte de un estudio curricular en el marco de un posgrado académico o profesional?</label>
            <select class="form-control" id="uso_curricular" name="uso_curricular">
                <option value="">Seleccione...</option>
                <option value="Sí">Sí</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="carrera_posgrado">Carrera de posgrado:</label>
            <input type="text" class="form-control" id="carrera_posgrado" name="carrera_posgrado">
        </div>
        <div class="form-group">
            <label for="estudiantes">Estudiante/s:</label>
            <input type="text" class="form-control" id="estudiantes" name="estudiantes">
        </div>
        <div class="form-group">
            <label for="responsables_orientacion">Responsables de la orientación, tutoría, asesoramiento o dirección del trabajo:</label>
            <input type="text" class="form-control" id="responsables_orientacion" name="responsables_orientacion">
        </div>

        <!-- Datos del proyecto -->
        <h2 class="mt-4">Datos del proyecto</h2>
        <div class="form-group">
            <label for="titulo_estudio">Título o tema del estudio:</label>
            <input type="text" class="form-control" id="titulo_estudio" name="titulo_estudio" maxlength="200" required>
        </div>
        <div class="form-group">
            <label for="objetivo">Objetivo:</label>
            <textarea class="form-control" id="objetivo" name="objetivo" maxlength="500" required></textarea>
        </div>
        <div class="form-group">
            <label for="descripcion_metodologia">Descripción de la Metodología:</label>
            <textarea class="form-control" id="descripcion_metodologia" name="descripcion_metodologia" maxlength="1500" required></textarea>
        </div>
        <div class="form-group">
            <label for="caracteristicas_poblacion">Características de la Población:</label>
            <textarea class="form-control" id="caracteristicas_poblacion" name="caracteristicas_poblacion" maxlength="500" required></textarea>
        </div>
        <div class="form-group">
            <label for="utilidad_estudio">Utilidad del Estudio:</label>
            <input type="text" class="form-control" id="utilidad_estudio" name="utilidad_estudio" maxlength="500" required>
        </div>
        <div class="form-group">
            <label for="institucion_avala">Institución que Avala:</label>
            <input type="text" class="form-control" id="institucion_avala" name="institucion_avala" maxlength="200" required>
        </div>

        

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary mt-4">Enviar Solicitud</button>
    </form>
   
</div>
{% endblock %}
